body a {
    text-decoration: none;
    color: inherit;
}


.conten {
    width: calc(100%-180px);
    height: 100%;
    background: var(--body-color-);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    color: var(--text-color);
    position: relative;
}

.conten .gambar {
    width: 100%;
    display: flex;
    margin: 10px 0;
    margin-bottom: 40px;
}

.gambar img {
    margin: auto;
    width: 600px;
    max-width: 100%;
    object-fit: contain;
}


.ident {
    margin: 5px;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
}

.ident .identitas {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 5px;
}

.identitas img {
    width: 8vh;
    border-radius: 50%;
    border: 1px solid grey;
    object-fit: cover;
    margin-right: 5px;
}

.identitas .header {
    font-size: 12px;
    font-weight: 200;
    background: #18191a;
    padding: 1vh;
    color: #fff;
}

.ident .tangga-post {
    width: max-content;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
}

.tangga-post img {
    width: 2vh;
    object-fit: cover;
    margin-right: 5px;
}

.conten .text-conten {
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
    max-width: 900px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    
}

#darkMode {
    color: rgb(187, 177, 177);
    background:linear-gradient(145deg, #121313, #0f1010);
}

#darkMode .mode-toogle{
    color: #fff;
}

.mode-toogle{
    width: max-content;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 5px;
    margin-top: 5px;
    color: rgb(29, 28, 28);
    position: absolute;
    right: 20px;
    top: 20px; 
}

span.icon{
    
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

span.icon:hover {
    background: #ebe5e5;
box-shadow: inset 10px 10px 20px #a09c9c,
            inset -10px -10px 20px #ffffff;
            color: #000;
}

.text-conten p {
    text-align: justify;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.text-conten .judul {
    margin-bottom: 20px;
    font-weight: 900;
}

.judul h2 {
    font-weight: 900;
}

.footer {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    color: #fff;
    position: absolute;
    bottom: 25px;
}

.footer h4 {
    font-size: 1.2em;
    margin-left: 80px;
}


/* responsive */

@media (max-width:820px) {

    .identitas .header {
        font-size: 12px;
        padding: .5vh;
    }

    .identitas img {
        width: 4vh;
    }

    .ident .tangga-post {
        font-weight: 400;
        font-size: 12px;
    }

    .footer {
        bottom: 15px;
    }

    .footer h4 {
        font-size: 1em;
        margin-left: 40px;
    }
}

@media (max-width:620px) {

    .footer {
        bottom: 4px;
    }

    .footer h4 {
        font-size: 11px;
        margin-left: 30px;
    }
}

@media (max-width:420px) {

    .footer {
        bottom: 0px;
    }

    .footer h4 {
        font-size: 8px;
        margin-left: 8px;
        font-weight: 200;
    }

    .identitas .header {
        font-size: 8px;
    }
    
    .text-conten p {
        font-size: 12px;
    }
    .identitas .header {
        font-size: 8px;
    }

    .identitas img {
        width: 4vh;
    }

    .ident .tangga-post {
        font-weight: 400;
        font-size: 8px;
    }

}